.settings__setting {
  padding: 20px 0;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings__setting:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.settings__setting i {
  opacity: 0.8;
  margin-right: 20px;
  font-size: 22px;
}

.settings__setting-column:last-child {
  opacity: 0.5;
}

.settings__setting .new-content {
  margin-left: 5px;
  background-color: #f44336;
  border-radius: 50%;
  padding: 1px 5px;
  font-size: 12px;
  font-weight: 600;
  color: white;
}
