.background-cover {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../../images/kokoa.png);
  background-size: cover;
  background-position: center;
  z-index: -1;
}
